@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

h1 {
  @apply text-2xl font-medium;
}
h2 {
  @apply text-xl font-medium;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-sky-500;
}

a:hover {
  @apply text-intetech-accent;
}

* {
  font-family: "Inter", sans-serif;
  color: #373530;
}

.blur-bg {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(218, 218, 218, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

html,
body {
  @apply bg-intertech-bg;
}
